
.contenedor{
    margin-top: 8%;
margin-right: 30%;
margin-left: 30%;


}
h1,p {
    
    text-align: right;
}

.pie{
    text-align: center;
    margin-top: 15%;
}

.formu{
    border-style: solid;
    padding: 50px;
}

button{
    margin: 9px;
    display: inline;
}

.personaDiv{
    margin: 25px;
    display: block;
}

.linea{
    margin: 25px;
    display: inline;
}
.a1{
margin-right: 32px;
}

.a2{
    margin-right: 6px;
}

.confPers{
padding-right: 30px;
}

.confMasc{
    padding-right: 39px
}

.texto{
    text-align: left;

}

#datoNumero{
    display: inline-block;
   
}

#datoNumero2{
    display: inline-block;
  
}

